<body>
    <div class="wrapper">
        <div class="left">
            <img src="../../../assets/img_avatar.png" 
            alt="user" width="100">
            <h4>username = "username"</h4>
             <p>Profession</p>
             <p>Ranking</p>
        </div>
        <div class="right">
          
          <div class="defenicoes">
            <ul>
              <li><a href="#"><i class="def-account" img></i></a></li>
          </ul>
        </div>
            <div class="info">
                <h3>Personal Information</h3>
                <div class="info_data">
                     <div class="data">
                        <h4>Email</h4>
                        <p>alex@gmail.com</p>
                     </div>
                     <div class="data">
                       <h4>Phone</h4>
                        <p>0001-213-998761</p>
                      </div>
                      <div class="data">
                        <h4>City</h4>
                         <p>Lisboa</p>
                      </div>
                      <div class="data">
                        <h4>Contry</h4>
                         <p>Almada</p>
                      </div>
                      <div class="data">
                        <h4>Número de percursos realizados</h4>
                        <p>11</p>
                      </div>
                </div>
            </div>
          
          <div class="user_tools">
                <h3>User Activity</h3>
                <div class="tools_data">
                     <div class="data">
                        <h4>Percursos</h4>
                     </div>
                     <div class="data">
                       <h4>Galeria</h4>
                      </div>
                      <div class="data">
                        <h4>Trofeús</h4>
                     </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
