<mat-card class="profile-card">

  <mat-card-header>      
      <img src = {{picSrc}}>
      <mat-card-title>{{userI.user_username}}</mat-card-title>
      <!-- Ranking classification
      <mat-card-subtitle>Ranking</mat-card-subtitle>
      -->
  </mat-card-header>  
  
  <mat-divider></mat-divider>

  <mat-card-content>
      <mat-tab-group id="profileTab" [selectedIndex] = "index" (selectedTabChange)="tabChanged($event)">
          <mat-tab> 

              <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">perm_identity</mat-icon>
                  {{'About'| translate}}
              </ng-template>
              <!-- Content tab -->
              <nb-card class = "user-card">
                <nb-card-header>
                  <h2><b>{{'ProfileInfo'| translate}}</b></h2>
                  <mat-divider></mat-divider>
                </nb-card-header>
                <nb-card-body>
                  <div class="row">
                    <div class="col-lg-6">
                      <h4><u>{{'Name'| translate}}</u> {{userI.user_name}}</h4>
                      <h4><u>{{'Email'| translate}}</u> {{userI.user_email}}</h4>
                      <h4><u>{{'Birthday'| translate}}</u> {{userI.user_birthday}}</h4>
                    </div>

                    <div class="col-lg-6">
                      <h4><u>{{'Street'| translate}}</u> {{userI.user_street}}</h4>
                      <h4><u>{{'City'| translate}}</u> {{userI.user_place}}</h4>                
                      <h4><u>{{'Country'| translate}}</u>{{userI.user_country}}</h4>
                      <h4><u>{{'ZipCode'| translate}}</u>{{userI.user_zip_code}}</h4>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
          </mat-tab>

          <mat-tab>

              <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">pin_drop</mat-icon>
                  {{'Routs' | translate }}
              </ng-template>
              <nb-card class = "routes-card">
                <nb-card-header>
                  <h2><b>{{'RoutsInfo'| translate}}</b></h2>
                  <mat-divider></mat-divider>
                </nb-card-header>
                <nb-card-body>
                  <!--Routes page-->
                  <app-routs></app-routs>
                </nb-card-body>
              </nb-card>
              <mat-divider></mat-divider>
          </mat-tab>

          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">insert_photo</mat-icon>
                  {{'Gallary' | translate }}
              </ng-template>
              <!-- Gallery page -->
              <app-gallery></app-gallery>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">developer_board</mat-icon>
                  {{'Rocks' | translate }}
              </ng-template>
              <!-- Rock Throphy Page -->
              <app-rock-trophy></app-rock-trophy>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon class="tab-icon">settings</mat-icon>
                  {{'Settings'| translate}}
              </ng-template>
              <!-- Settings Page -->
              <app-settings></app-settings>
          </mat-tab>
  </mat-tab-group>
          
  </mat-card-content>

  <mat-card-actions>

  </mat-card-actions>
  
</mat-card>