<ngb-accordion [closeOthers]="true">
    <ngb-panel >
        <ng-template ngbPanelHeader>
                <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2" (click)="showHide()" >Show | Hide</button>
                <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="delete(direction)">Delete</button>
        </ng-template>

        <ng-template ngbPanelContent>
            
            <div [ngClass]="setClasses()">
                    <p> {{direction.description}} </p>
                    <p> It starts in Coordinates: {{direction.origin.lat}} & {{direction.origin.lng}}</p>
                    <p>And end in Coordinates: {{direction.destination.lat}} & {{direction.destination.lng}}</p>
                    <button type="button" class="btn btn-primary">Add To Favorites</button>      
            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>