<mat-tab-group>
    <mat-tab label="Add Route"> 
        <ng-template matTabContent>
            <div class="card">
                <div class="card-header">New Route from file</div>
                <div class="card-body">
                  <p>
                Create routes is easy you can watch <a href="https://www.youtube.com/watch?v=g9j5UzxEhEM">this</a> totorial of how to do it
              </p>
                <form novalidate [formGroup]="formImport">
                  <div class="input-group mb-3">
                
                <div class="custom-file">
                  <input type="file" accept=".kml,.gpx" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)" >
                                <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-secondary" type="button" (click)="import()"><i class="fas fa-file-import"></i> Submit
                                </button>
              </div>
                </form>
                </div>
              </div>
        </ng-template>        
    </mat-tab>


    <mat-tab label="Add Natural Reserve"> 
      <ng-template matTabContent>
          <div class="card">
            <div class="card-header">New Natural Reserve from file</div>
            <div class="card-body">
              <p>
            Create routes is easy you can watch <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">this</a> totorial of how to do it
          </p>
            <form novalidate [formGroup]="formImport">
              <div class="input-group mb-3">
            
            <div class="custom-file">
              <input type="file" accept=".kml,.gpx" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChange($event.target.files)" >
                            <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-secondary" type="button" (click)="import()"><i class="fas fa-file-import"></i> Submit
                            </button>
          </div>
            </form>
            </div>
          </div>
      </ng-template>
    </mat-tab>    
  
  



    <mat-tab label="Add GeoStop">  
        <ng-template matTabContent>
          <br>
          <div class="container"> 
            <div class="row">
              <div class="col-6">
              <mat-tab-group>

                <mat-tab label="Set Description"> 
                  <ng-template matTabContent>
                    <h2> Write title and description</h2>
                    <mat-divider></mat-divider>
                    <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <mat-label>Title</mat-label>
                        <input #Title matInput placeholder="Ex. Some title" >
                      </mat-form-field>
                      <br>
                      <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea #Description matInput placeholder="Ex. Few words about geoStop"></textarea>
                      </mat-form-field>
                    </form>
                    <mat-divider></mat-divider>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!descriptionChanged" (click)="setTitDesc(Title,Description)">SetText</button>
                
                  </ng-template>
                </mat-tab>

                <mat-tab label="Set Location">  
                  <ng-template matTabContent>
                <h2> Use one of Functions You prefere:</h2>
                <mat-divider></mat-divider>
                <h3>1-> Drag Pinlet on Map</h3>
                <mat-divider></mat-divider>
                <h3>OR 2-> Find Place where to Start</h3>
                <div class="full-name-inputs">          
                  <mat-form-field appearance="simple">
                  <mat-label>Place Name</mat-label>
                  <input type="text" matInput #inputPlace placeholder="Lisboa" id="place">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!markerDragable" (click)="getlatLng(inputPlace)">Search</button>          
                </div>
                <mat-divider></mat-divider>
                <h3>OR 3-> Lat Lng format</h3>
                <mat-form-field appearance="simple">
                  <mat-label>Latitude</mat-label>
                  <input type="text" matInput #Latitude placeholder="Ex. 37.079458" id="Latitude">             
                </mat-form-field>
                <mat-form-field appearance="simple">
                  <mat-label>Longitude</mat-label>
                  <input type="text" matInput #Longitude placeholder="Ex. -8.668619" id="Longitude">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!markerDragable" (click)="getlatLngF(Latitude,Longitude)">Search</button>
                <mat-divider></mat-divider>
                <h3>OR 3-> Dms format</h3>
                <mat-form-field appearance="simple">
                  <mat-label>Coordinates Dms format North</mat-label>
                  <input type="text" matInput #N placeholder="N" id="N">             
                </mat-form-field>
                <mat-form-field appearance="simple">
                  <mat-label>Coordinates Dms format West</mat-label>
                  <input type="text" matInput #W placeholder="W" id="W">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!markerDragable" (click)="getLatLngDms(N,W)">Search</button>
                <br>
                <mat-divider></mat-divider>
                <br>
                
                  </ng-template></mat-tab>

                  <mat-tab label="Add Images">  
                    <ng-template matTabContent>
                      <form novalidate [formGroup]="formImport">
                        <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" accept=".png,.jpg" multiple="multiple" class="custom-file-input" formControlName="importFile" id="importFile" (change)="onFileChangeS($event.target.files)" >
                                      <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Choose images</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <button mat-raised-button color="primary" type="submit" [disabled]="!imagesAddedtoSend" (click)="importImages()"> Submit</button>
                    </div>
                      </form>
                      <div class="container">
                        <div class="row" *ngFor="let item of images">    
                          <div class="col" *ngIf="imageSend">   
                            <img [src]="item" *ngIf="imgURL">
                          </div>
                        </div>  
                      </div>
                    </ng-template>
                  </mat-tab>

            </mat-tab-group>
              </div>

                <div class="col-6">  
                <agm-map #map [latitude]="latitude" [longitude]="longitude" >
                  <agm-marker id="marker" [latitude]="latitudeM" [longitude]="longitudeM" [markerDraggable]="markerDragable" (drag)="markerDragEnd($event)"></agm-marker>
                </agm-map>   
                </div>
            </div>
          </div>
          <br><br><br>
          <div class="container">
            <div class="row">
              <div class="col">
                <mat-checkbox class="example-margin" (checked)="!descriptionChanged" (click)="descriptionChange()">Yes i have written Description!</mat-checkbox>
                <br>
                <mat-checkbox class="example-margin"  (checked)="!markerDragable" (click)="markerDragableChange()">Yes i have Chosen marker Location!</mat-checkbox>
                <br>
                <mat-checkbox class="example-margin"  (checked)="!imagesAddedtoSend" (click)="imagesAddedtoSendChange()">Yes i have Chosen Images!</mat-checkbox>
              </div>
              <div class="col">
                <h2>When you write all fields you can submit this geoStop</h2>
                <br>
                <button mat-raised-button color="primary" [disabled]="(descriptionChanged || markerDragable || imagesAddedtoSend)" type="submit" (click)="SubmitGeoStop()">Submit</button>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </ng-template>         
    </mat-tab>

    <mat-tab label="Add New informative Content"> 
      <ng-template matTabContent>
        <br>
        <div class="container"> 
          <div class="row">
            <div class="col-6">
              <h2> Geo Materials</h2>
              <mat-divider></mat-divider>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Title</mat-label>
                  <input #Title matInput placeholder="Ex. Some title" >
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                  <mat-label>Description</mat-label>
                  <textarea #Description matInput rows="3" placeholder="Ex. Few words about this place"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Link to Geological Map</mat-label>
                  <textarea #GeoMapLink matInput rows="3" placeholder="Url to resource map must be https://.."></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Link to Geological Map Explicative Notice</mat-label>
                  <textarea #ExplicativeNotice matInput rows="3" placeholder="Url to resource text must be https://.."></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="simple">
                  <mat-label>Latitude</mat-label>
                  <input type="text" matInput #Latitude placeholder="Ex. 37.079458" id="Latitude">             
                </mat-form-field>
                <mat-form-field appearance="simple">
                  <mat-label>Longitude</mat-label>
                  <input type="text" matInput #Longitude placeholder="Ex. -8.668619" id="Longitude">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" (click)="getlatLngF(Latitude,Longitude)">Search</button>
                <br>
                <h3> OR </h3>
                <br>
                <mat-form-field appearance="simple">
                  <mat-label>Coordinates Dms format North</mat-label>
                  <input type="text" matInput #N placeholder="N" id="N">             
                </mat-form-field>
                <mat-form-field appearance="simple">
                  <mat-label>Coordinates Dms format West</mat-label>
                  <input type="text" matInput #W placeholder="W" id="W">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit"  (click)="getLatLngDms(N,W)">Search</button>
                <br>
                <h3> OR </h3>
                <br>
                <div class="full-name-inputs">          
                  <mat-form-field appearance="simple">
                  <mat-label>Place Name</mat-label>
                  <input type="text" matInput #inputPlace placeholder="Lisboa" id="place">             
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" (click)="getlatLng(inputPlace)">Search</button>          
                </div>
                <br>
                <mat-divider></mat-divider>
                <br><br>
                <button mat-raised-button color="primary" (click)="newInfoNotice( Title, Description, GeoMapLink, ExplicativeNotice)" type="submit">Submit</button>
              </form>
            </div>
            <div class="col-6">
              <agm-map #map [latitude]="latitude" [longitude]="longitude" >
                <agm-marker id="marker" [latitude]="latitudeM" [longitude]="longitudeM" [markerDraggable]="markerDragable" (drag)="markerDragEnd($event)"></agm-marker>
              </agm-map> 
            </div>
          </div>
        </div>
      </ng-template>        
  </mat-tab>
  
  <mat-tab label="Add Quizzes">  
      <ng-template matTabContent>
        <app-quizzes></app-quizzes>
      </ng-template>         
  </mat-tab>
  
</mat-tab-group>
