<mat-card class="aboutus-card">
    <mat-card-header>
      <div mat-card-avatar class="aboutus-header-image"></div>
      <mat-card-title>{{'GeoFiveSolutions'|translate}}</mat-card-title>
      <mat-card-subtitle>{{'Team10'|translate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/Geo5S-logo.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <body>
            <p>{{'AboutUsIntro1' | translate}}</p>
            <p>{{'AboutUsIntro2' | translate}}</p>
            <div class="row">
                <div class="col-lg-6">
                    <h4>{{'Android' | translate}}</h4>
                    <p>André Oliveira</p>
                    <p>Edson Sousa</p>
                    <p>AndroidStudio</p>
                     
                </div>

                <div class="col-lg-6">
                    <h4>{{'Angular' | translate}}</h4>
                    <p>Alexander Denisov</p>
                    <p>Sara Trafaria</p>
                    <p>Angular, TS</p>
                </div>
            </div> 
            <div class="col-lg-7">
                <h4>{{'Server' | translate}}</h4>
                <p>Alexandre Mendes</p>
                <p>GoogleAppEngine</p>
            </div>     
        </body>
    </mat-card-content>
    <mat-card-actions>
        <a href="https://geo5solutions.blogspot.com/" >{{'Blogge'|translate}}</a>     
    </mat-card-actions>
  </mat-card>