.aboutus-card {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50vw;
  background-color: lightseagreen;
  .mat-card-header{
    background-image: none;
    width: 100%;
    height: 10%;
  }
  mat-card-image{
  
    width:20%;
    height:20%;
  }
}

.aboutus-header-image {
  background-image: url('../../assets/Geo5S-logo.jpg');
  background-size: 80px;
  background-position: center;
}


mat-card-content{
  body{
    background-color: lightseagreen;
  }
}