<body>

    <video autoplay muted loop controls id="myVideo">
      <source src="https://storage.cloud.google.com/apdc-geoproj.appspot.com/Trailer_3_Litoral_Calcario_Sul.mp4?authuser=3" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>    
    
    <h1>Bem-Vindos a GeoPlaces</h1>    
    <div class="content">  
      <p>O site com os percursos geológicos mais interessantes</p>
      <button id="siteBtn" (click)="site()">Ir para o site</button>
      <button id="androidBtn" (click)="app()">Descarregar app Android</button>
    </div>
    
</body>