<h2>{{'UsersReports'|translate}}</h2>
<h3>{{'UserReportComment'|translate}}</h3>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="60px">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Comment ID Column -->
                <ng-container matColumnDef="commId">
                    <th mat-header-cell *matHeaderCellDef>{{'Comment ID'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.commId}} </td>
                </ng-container>
                
                <!-- Writter Username Column -->
                <ng-container matColumnDef="usernameW">
                    <th mat-header-cell *matHeaderCellDef> {{'WUsername'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.usernameW}} </td>
                </ng-container>
                
                <!-- Writter Email Column -->
                <ng-container matColumnDef="emailW">
                    <th mat-header-cell *matHeaderCellDef> {{'WEmail'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.emailW}} </td>
                </ng-container>

                 <!-- Reporter Username Column -->
                 <ng-container matColumnDef="usernameRep">
                    <th mat-header-cell *matHeaderCellDef> {{'RUsername'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.usernameRep}} </td>
                </ng-container>
                
                <!-- Reporter Email Column -->
                <ng-container matColumnDef="emailRep">
                    <th mat-header-cell *matHeaderCellDef> {{'REmail'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.emailRep}} </td>
                </ng-container>
                
                <!-- Comment Column -->
                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> {{'RepComment'|translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<br>
<br>
<h3>{{'Sanction'|translate}}</h3>
<form (ngSubmit)="onSubmit()">
    <nb-card>
        <nb-card-header></nb-card-header>
        <nb-card-body>     
            <h4>{{'InactComm'|translate}}</h4>
            <mat-form-field appearance="simple">
                <mat-label>{{'EnterIdComm'|translate}}</mat-label>
                <input matInput [formControl]="commentId" required>
                <mat-error *ngIf="commentId.invalid">{{'IdCommError'|translate}}</mat-error>
            </mat-form-field>

            <br>

            <h4>{{'GiveNegPoints'|translate}}</h4>
            <mat-form-field appearance="simple">
                <mat-label>{{'UsernameB'|translate}}</mat-label>
                <input matInput [formControl]="badUsername" required>
                <mat-error *ngIf="badUsername.invalid">{{'UsernameBError'|translate}}</mat-error>
            </mat-form-field> 
            <br>           
            <h4 id="Note">{{'URepNote1'|translate}}</h4>
            <h4>{{'URepNote2'|translate}}</h4>
            <h4>{{'URepNote3'|translate}}</h4>
        </nb-card-body>
    </nb-card>
        <p>
            <button mat-raised-button color="primary" type="submit" [disabled]="!(commentId.valid && badUsername.valid)">{{'Submit'|translate}}</button>
            <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="cancel()">{{'Cancel'|translate}}</button>
        </p>            
        <p></p>    
</form>
   
