
.profile-card {
    position: absolute;
    transform: translate(30%,0%);
    background-color: #008080;
    width: 70vw;
}

.userInfo{
    display: flex;
    margin: 0 -0.5rem;
  
    > * {
      margin: 0 0.5rem;
    }
}

.profile-card {
    img {
        
        object-fit: cover;
    }
}

mat-card-header{ 
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/51j0SosPW2L._AC_.jpg');
    height: 30vh;
    img{
       transform: translate(-8vw,15vh);
       border-radius: 80%;
       width:90px;
       height:90px;
    }
    mat-card-title{
        transform: translate(8vw,20vh);
        color: white;
    }
    mat-card-subtitle{
        transform: translate(8vw,20vh);
        color:white;
    }
}

