<nb-card>
    <nb-card-header><h2><b>{{'AdminSet'|translate}}</b></h2></nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="onSubmit()">

        <h3>{{'UpdateAdmin'|translate}}</h3>
        <div class="full-name-inputs">          
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterNameU'|translate}}</mat-label>
            <input type="text" matInput matInput #input maxlength="30" placeholder="{{'EnterNameU'|translate}}" id="userName">
            <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
            <mat-error *ngIf="nameControl.invalid">{{'NameUError'}}</mat-error>
            </mat-form-field>          
        </div>

        <div class="email-container">
            <h4>{{'Email'|translate}}</h4>
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterNEmail'|translate}}</mat-label>
            <input type ="text" matInput placeholder="{{'EnterNEmail|translate'}}" id="userEmail" [(ngModel)]="userInput.user_email" name="email" [formControl]="emailControl">
            <mat-error *ngIf="emailControl.invalid">{{'EmailUError'|translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="other-inputs">
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterPassU'|translate}}</mat-label>
            <input type="text" matInput placeholder="{{'EnterNewPass'|translate}}" id="userPassword" [(ngModel)]="userInput.user_password" name="password" [formControl]="passControl">
            <mat-error *ngIf="passControl.invalid">{{'PassUError'|translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="other-inputs">              
            <h4>{{'Birthday'|translate}}</h4>   
            <mat-form-field appearance = "simple" color="blue">
            <mat-label>{{'EnterNBirthday'|translate}}</mat-label>
            <input matInput [matDatepicker]="picker1" id="userBirthday" [(ngModel)]="userInput.user_birthday" [formControl]="birthdayControl">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        
        <h4>{{'AddressInf'|translate}}</h4>
        <div class="adress-inputs">
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterNStreet'|translate}}</mat-label>
            <input type="text" matInput placeholder="{{'EnterNewS'|translate}}" id="userStreet" [(ngModel)]="userInput.user_street" name="street" [formControl]="streetControl">
            <mat-error *ngIf="emailControl.invalid">{{'StreetUError'|translate}}</mat-error>
            </mat-form-field>            
        </div>

        <div class="adress-inputs">
          <mat-form-field appearance="simple">
          <mat-label>{{'EnterNAZipC'|translate}}</mat-label>
          <input type="text" matInput #input maxlength="8" placeholder="{{'EnterNZipC'|translate}}" id="userZipcode" [(ngModel)]="userInput.user_zip_code" name="zipcode" [formControl]="zipcodeControl">        
          <mat-error *ngIf="zipcodeControl.invalid">{{'ZipCodUError'|translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="adress-inputs">
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterNACity'|translate}}</mat-label>
            <input type="text" matInput placeholder="{{'EnterNCity'|translate}}" id="userCity" [(ngModel)]="userInput.user_place" name="city" [formControl]="placeControl">
            <mat-error *ngIf="placeControl.invalid">{{'CityUError'|translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="adress-inputs">
            <mat-form-field appearance="simple">
            <mat-label>{{'EnterNACountry'|translate}}</mat-label>
            <input type="text" matInput placeholder="{{'EnterNCountry|translate'}}" id="userCountry" [(ngModel)]="userInput.user_country" name="country" [formControl]="countryControl">
            <mat-error *ngIf="countryControl.invalid">{{'CountryUError'|translate}}</mat-error>
            </mat-form-field>
        </div>
        <p>
          <button mat-raised-button color="primary" type="submit" [disabled]="!(nameControl.valid || birthdayControl.valid || passControl.valid || emailControl.valid || streetControl.valid || zipcodeControl.valid || placeControl.valid || countryControl.valid)">{{'Submit'|translate}}</button>
          <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="onCancel()">{{'Cancel'|translate}}</button>
        </p>            
        <p></p>
      </form>
      <mat-divider></mat-divider>
      <h3>{{'DeleteAcc'|translate}}</h3>
      <h4>{{'DeleteAcc1'|translate}}</h4>
      <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="onDelete()">Delete</button>
      <p></p>
    </nb-card-body>
  </nb-card>
