<mat-tab-group>
    <mat-tab label="Community Penalization"> 
        <ng-template matTabContent>
            Apresentar as penalizações discutidas mais tarde.
        </ng-template>        
    </mat-tab>
    <mat-tab label="Evaluate User"> 
        <ng-template matTabContent>
            Apresentar as opções para actualizar os rankings dos users.
        </ng-template>        
    </mat-tab>
    <mat-tab label="Delete User">  
        <ng-template matTabContent>
            Apresentar o formulario para eliminar um utilizador.
        </ng-template>         
    </mat-tab>
</mat-tab-group>
