<div class="middle">
  <div class="maincomp">
      <ul class="tabs  primary-nav">
          <li class="tabs__item">
              <a class="tabs__link" [routerLink]="'/signin'"routerLinkActive='active'>{{'Login' | translate}}</a>
          </li>
          <li class="tabs__item">
              <a class="tabs__link" [routerLink]="'/signup'" routerLinkActive='active'>{{'Register' | translate}}</a> 
          </li>
      </ul>
      <div class="body">
          <div>
<form #loginForm="ngForm" class="form-4" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <br>
      <div class="w-input"> 
        <input class="input" type="text" #UserName ngModel name="UserName" placeholder="Username" required>
      </div>
  <p></p>
    <div class="w-input">   
       <input class="input" type="password" #Password ngModel name="Password" placeholder="Password" required>
    </div>
  <p></p>
         <div class="form-btn">
           <button class="btn" [disabled]="!loginForm.valid"  type="submit">{{'Login' | translate}}</button>
         </div>
         <br>
 </form>
</div>
</div>
</div>
            
</div>
