<div>
<body>
  
  <!--  <section >
     Parallax animation next version -->
  <!--<div homeParallax [ratio]="0.6" id="bg"><img src = '../../assets/bg.jpg' id= "bg" ></div>
  <div homeParallax [ratio]="0.5" id="sol-00"> <img src = '../../assets/sol-00.png' id= "sol-00"></div>
  <div homeParallax [ratio]="-0.15" id="Serra-Arrabida"><img src = '../../assets/serra.png' id= "Serra-Arrabida"></div>
  <div homeParallax [ratio]="-0.9" id="text"><h2 id= "text">GeoPlaces</h2></div>
  <div  id="caminhantes-00"> <img src = '../../assets/ccc.png' id= "caminhantes-00"></div>-->
  <image-home></image-home>  
  <!--  <div id = "text"><h2 id= "text2">GeoPlaces</h2></div>
</section>>  -->

</body>
  <div class="maincomp">
  
    <span class="form-group f_ixed">
      <select
          id="langSelected" 
          class="form-control f_ixed" 
          #selectedLang 
          (change)="switchLang(selectedLang.value)"
          >
        <option *ngFor="let language of translate.getLangs()" 
          [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>

    <h1>{{'Sitetitle1' | translate}}</h1>

    <p>{{'TextBody1' | translate}}</p>
    <p>{{'TextBody2' | translate}}</p>
    <p>{{'TextBody3' | translate}}</p>
    <p>{{'TextBody4' | translate}}</p>

    <h1>{{'Sitetitle2' | translate}}</h1>
    <h2>{{'Subtitle' | translate}}</h2>
    <p>{{'TextBody5' | translate}}</p>
    <p>{{'TextBody6' | translate}}</p><br><br><br>
</div>


</div>
