
<div class="maincomp">
    <p>{{'Sitetitle' | translate }}</p>

    <li>
        <a [routerLink]=" '/main'">main</a>
      </li>
      <li>
        <a [routerLink]=" '/map'">map</a>
      </li>
      <li>
        <a [routerLink]="'/home'">home</a>
      </li>
      <li>
        <a [routerLink]="'/signin'">signin</a>
      </li>
      <li>
        <a [routerLink]="'/signup'">signup</a>
      </li>

      <span class="form-inline">
        <select 
            class="form-control" 
            #selectedLang 
            (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" 
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
      </span>
      <a class="navbar-brand">
        {{'Exit' | translate }}
      </a>
</div>
