<div>
<div class="mainBarCompBox">  
<div class="mainBarComp">
    <div class="subComp">
        <h1>{{'MapPointTitle | translate'}}</h1>
        <h2>{{'MapPointDescription' | translate}}</h2>
        <div *ngFor="let randomImage of imagesRandom">
            <img src= '{{randomImage.download_url}}' width="100%" height="100%">
        </div>        
    </div>
</div>
</div>  
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"[markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>

</div>
