<div>
<div class="mainBarCompBox">  
<div class="mainBarComp">
    <div class="subComp">
        <carousel [slides]="slides"></carousel> 
        <h1>{{'MapPointTitle' | translate}}</h1>
        <h2>{{'MapPointDescription' | translate}}</h2>
    </div>
</div>
</div>  
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"[markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude" [markerDraggable]="false" (markerClick)="clickedMarker(infowindow)">       
            <agm-info-window [disableAutoPan]="true" #infowindow>{{marker.info}}</agm-info-window>
            </agm-marker>
            <agm-direction [travelMode]="travelMode" [origin]="origin" [destination]="destination" [waypoints]="waypoints">
            </agm-direction>

    </agm-map>

</div>
