<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="card m-3">
        <h5 class="card-header">Create a new Quizze</h5>
        <div class="card-body border-bottom">
            <div class="form-row">
                <div class="form-group">

                    <label>Quizze Introduction</label>
                    <input type="text" formControlName="quizzIntro" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quizzIntro.errors }" />
                    <div *ngIf="submitted && f.quizzIntro.errors" class="invalid-feedback">
                        <div *ngIf="f.quizzIntro.errors.required">Please writte an Intro for you're Quizze</div>
                    </div> 

                    <label>Quizze keywords</label>
                    <input type="text" formControlName="quizzKW" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quizzKW.errors }" />
                    <div *ngIf="submitted && f.quizzKW.errors" class="invalid-feedback">
                        <div *ngIf="f.quizzKW.errors.required">Please writte key words for you're Quizze</div>
                    </div> 

                    <label>Number of Questions</label>
                    <select formControlName="numberOfQuestions" class="form-control" (change)="onChangeQuestions($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfQuestions.errors }">
                        <option value=""></option>
                        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                    </select>
                    <div *ngIf="submitted && f.numberOfQuestions.errors" class="invalid-feedback">
                        <div *ngIf="f.numberOfQuestions.errors.required">Number of questions is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let question of q.controls; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
                <h5 class="card-title">Question {{i + 1}}</h5>
                <div [formGroup]="question" class="form-row">
                    
                    <label>Writte the question</label>
                    <input type="text" formControlName="questionTxt" class="form-control" [ngClass]="{ 'is-invalid': submitted && question.controls.questionTxt.errors }" />
                    <div *ngIf="submitted && question.controls.questionTxt.errors" class="invalid-feedback">
                        <div *ngIf="question.controls.questionTxt.errors.required">Please writte a question</div>
                    </div> 

                    <label>Writte the question right answer</label>
                    <input type="text" formControlName="rightAnswer" class="form-control" [ngClass]="{ 'is-invalid': submitted && question.controls.rightAnswer.errors }" />
                    <div *ngIf="submitted && question.controls.rightAnswer.errors" class="invalid-feedback">
                        <div *ngIf="question.controls.rightAnswer.errors.required">Please writte the right answer</div>
                    </div>

                    <label>Writte the question first wrong answer</label>
                    <input type="text" formControlName="wrongAnswer1" class="form-control" [ngClass]="{ 'is-invalid': submitted && question.controls.wrongAnswer1.errors }" />
                    <div *ngIf="submitted && question.controls.wrongAnswer1.errors" class="invalid-feedback">
                        <div *ngIf="question.controls.wrongAnswer1.errors.required">Please writte the first wrong answer</div>
                    </div>

                    <label>Writte the question second wrong answer</label>
                    <input type="text" formControlName="wrongAnswer2" class="form-control" [ngClass]="{ 'is-invalid': submitted && question.controls.wrongAnswer2.errors }" />
                    <div *ngIf="submitted && question.controls.wrongAnswer2.errors" class="invalid-feedback">
                        <div *ngIf="question.controls.wrongAnswer2.errors.required">Please writte the second wrong answer</div>
                    </div>

                    <label>Writte the question theird wrong answer</label>
                    <input type="text" formControlName="wrongAnswer3" class="form-control" [ngClass]="{ 'is-invalid': submitted && question.controls.wrongAnswer3.errors }" />
                    <div *ngIf="submitted && question.controls.wrongAnswer3.errors" class="invalid-feedback">
                        <div *ngIf="question.controls.wrongAnswer3.errors.required">Please writte the theird wrong answer</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card-footer text-center border-top-0">
            <button class="btn btn-primary mr-1">Create Quizze</button>
            <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
            <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>
